.menu_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 1em;
}

.button_container {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
